<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Página Login</title>
    <meta charset="utf-8">
</head>

<body>
    <!--<header class="navbar">
        <div class="navbar-nav">
            <p [routerLink]="['/home']">E D U C A Í</p>
        </div>
    </header>
-->
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <li class="navbar-nav">
                    <p [routerLink]="['']">E D U C A Í</p>
                </li>
            </div>
        </nav>
    </header>

    <form action="/action_page.php" method="post">
        <div class="imgcontainer">
            <img src="assets/images/cards/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container login">
            <label for="uname"><b>Username</b></label>
            <input [(ngModel)]="usuario.nome" id="usuario" type="text" placeholder="Enter Username" name="uname"
                required>

            <label for="psw"><b>Password</b></label>
            <input [(ngModel)]="usuario.senha" id="senha" type="password" placeholder="Enter Password" name="psw"
                required>

            <button type="submit" (click)="fazerLogin()">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#d6cece">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    <br><br><br>
    <div class="info_educai">
        <div class="row">
            <div class="col">
                <h4>
                    <p>E D U C A Í</p>
                </h4>
                <p></p>
            </div>
            <div class="col">
                <p>
                    <a href="https://www.facebook.com/EtecRP">
                        <img src="../../assets/images/fbicon.png" alt="">
                    </a>
                    <a href="https://www.youtube.com/watch?v=LAbnr1jTtI8">
                        <img src="../../assets/images/wppicon.png" alt="">
                    </a>
                </p>
            </div>
            <div class="col">
                <h4>
                    <p>Fale Conosco</p>
                </h4>
                <p></p>
            </div>
        </div>
    </div>
    <footer>
        <p class="footer">&copy; SITE TCC | ETEC</p>
    </footer>
</body>

</html>