<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Página Home</title>
    <meta charset="utf-8">
</head>

<!--
<script type="module">
import {Modal} from 'bootstrap'
let myModal = new Modal(document.getElementById('myModal'));
myModal.show();

console.log(myModal);
console.log("opa")

</script>
-->

<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <li class="navbar-nav">
                    <p [routerLink]="['']">E D U C A Í</p>
                </li>
            </div>
        </nav>
    </header>
    <h1 class="titulo">MATÉRIAS</h1>
    <hr>
    <main class="cards-teste">
        <div class="container text-center cards-main">
            <div class="row">
                <div class="col">
                    <a href="">
                        <img class="botao-seta" src="assets/images/arrow-left-circle.svg" alt="">
                    </a>
                </div>
                <div class="col">
                    <div class="card" style="width: 17rem;">
                        <img src="assets/images/cards/matemática.jfif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-outline-primary botao-card" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 17rem;">
                        <img src="assets/images/cards/inglês.jfif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-outline-primary botao-card">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 17rem;">
                        <img src="assets/images/cards/matemática.jfif" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-outline-primary botao-card">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <a href="">
                        <img class="botao-seta" src="assets/images/arrow-right-circle.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </main>
    <div class="info_educai">
        <div class="row">
            <div class="col">
                <h4>
                    <p>E D U C A Í</p>
                </h4>
                <p></p>
            </div>
            <div class="col">
                <p>
                    <a href="https://www.facebook.com/EtecRP">
                        <img src="../../assets/images/fbicon.png" alt="">
                    </a>
                    <a href="https://www.youtube.com/watch?v=LAbnr1jTtI8">
                        <img src="../../assets/images/wppicon.png" alt="">
                    </a>
                </p>
            </div>
            <div class="col">
                <h4>
                    <p>Fale Conosco</p>
                </h4>
                <p></p>
            </div>
        </div>
    </div>
    <footer>
        <p class="footer">&copy; SITE TCC | ETEC</p>
    </footer>
</body>

</html>
