<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Página Home</title>
    <meta charset="utf-8">
</head>

<!--
<script type="module">
import {Modal} from 'bootstrap'
let myModal = new Modal(document.getElementById('myModal'));
myModal.show();

console.log(myModal);
console.log("opa")

</script>
-->

<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <p class="navbar-login" [routerLink]="['/login']">Login</p>
                <p class="navbar-educai" [routerLink]="['']">E D U C A Í</p>
                <p class="navbar-cadastro" [routerLink]="['/cadastro']">Cadastre-se</p>
            </div>
        </nav>
    </header>
    <main>
        <div class="sobreosite container">
            <img src="assets/images/Logo_TCC.png" alt="">
            <div class="teste">
                <h1>SOBRE O EDUCAÍ</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum. </p>
            </div>
        </div>

        <div class="container text-center icones">
            <div class="row row-cols-2">
                <div class="col">
                    <img src="assets/images/img1.png" alt="">
                    <p class="title_resumo"><b>Aulas</b> de Matemática boas</p>
                </div>
                <div class="col">
                    <img src="assets/images/img2.png" alt="">
                    <p class="title_resumo">Aulas <b>de</b> Matemática boas</p>
                </div>
                <div class="col">
                    <img src="assets/images/img3.png" alt="">
                    <p class="title_resumo">Aulas de <b>Matemática</b> boas</p>
                </div>
                <div class="col">
                    <img src="assets/images/img4.png" alt="">
                    <p class="title_resumo">Aulas de Matemática <b>boas</b></p>
                </div>
            </div>
        </div>

        <!--
       <div>
        <app-carousel [images]="images"></app-carousel>
       </div>
       -->
       <br><br><br>
       <div class="container educai">
        <p class="sobre-educai"><b>E D U C A Í</b></p>
        <div class="row">
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/images/escola1.jpg" class="card-img-top-first" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/images/escola6.jpg" class="card-img-top-first" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/images/escola3.jpeg" class="card-img-top-first" alt="...">
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/images/escola4.jpg" class="card-img-top-first" alt="...">
            </div>
          </div>
        </div>
      </div>
        <div class="botao_home">
            <p class="btn btn-primary btn-lg" [routerLink]="['/login']">ENTRAR</p>
        </div>
    </main>

    <div class="info_educai">
        <div class="row">
            <div class="col">
                <h4>
                    <p>E D U C A Í
                        <img src="../../assets/images/Logo__TCC.png " width="45px" height="42px" alt="">
                    </p>
                </h4>
                <p style="color: rgb(202, 197, 197);">
                    Desenvolvido por Equipe Autônoma
                </p>
            </div>
            <div class="col">
                <p>
                    <a href="https://www.facebook.com/EtecRP">
                        <img src="../../assets/images/fbicon.png" alt="">
                    </a>
                </p>
                <p>
                    <a href="https://www.youtube.com/watch?v=LAbnr1jTtI8">
                        <img src="../../assets/images/wppicon.png" alt="">
                    </a>
                </p>
            </div>
            <div class="col">
                <h4>
                    <p>Fale Conosco

                    </p>
                </h4>
                <div style="color: rgb(202, 197, 197)">
                    <p>Alisson Ranulpho</p>
                    <p>Arthur Reinaldo</p>
                    <p>Edgard Batista</p>
                    <p>Victor Campos</p>
                    <p>Pedro Francis</p>
                    <p>Pedro Lucas</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p class="footer">&copy; SITE TCC | ETEC</p>
    </footer>
</body>

</html>