body{
    font-family: Montserrat;
}

.navbar{
    background: darkblue;
}

.sobreosite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    padding-bottom: 70px;
}

.title_resumo{
    font-size: 24px;
}

.icones{
    border: 2px solid darkblue;
    border-radius: 25px;
    height: 50%;
}

.botao_home{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.info_educai{
    background-color: gray;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
    color: white;
  }
  
  .footer{
    font-size: 15px;
    text-align: center;
    background-color: gray;
    line-height: 50px;
    color: darkgrey;
    margin-bottom: auto;
  }