<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Página Home</title>
    <meta charset="utf-8">
</head>

<!--
<script type="module">
import {Modal} from 'bootstrap'
let myModal = new Modal(document.getElementById('myModal'));
myModal.show();

console.log(myModal);
console.log("opa")

</script>
-->

<body>
    <main>
        <div class="sobreosite container">
            <img src="assets/images/Logo_TCC.png" alt="">
            <div class="teste">
                <h1>SOBRE O EDUCAI</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum. </p>
            </div>
        </div>
        
        <div class="container text-center">
            <div class="row row-cols-2 ">
                <div class="col"><img src="assets/images/img1.png" alt="">
                    <p class="title_resumo">Aulas de <b>Matemática</b> boas</p>
                </div>
                <div class="col"><img src="assets/images/img2.png" alt="">
                    <p class="title_resumo">Aulas de <b>Matemática</b> boas</p>
                </div>
                <div class="col"><img src="assets/images/img3.png" alt="">
                    <p class="title_resumo">Aulas de <b>Matemática</b> boas</p>
                </div>
                <div class="col"><img src="assets/images/img4.png" alt="">
                    <p class="title_resumo">Aulas de <b>Matemática</b> boas</p>
                </div>
            </div>
        </div>
        <div class="botao_home">
            <a class="btn btn-primary btn-lg" [routerLink]="['/aulas']">ENTRAR</a>
        </div>
    </main>

    <div class="info_educai">
        <div class="row">
            <div class="col">
                <h4>
                    <p>E D U C A Í</p>
                </h4>
                <p style="color: rgb(202, 197, 197);">Desenvolvido por Equipe Autônoma</p>
            </div>
            <div class="col">
                <h4>
                    <p>Fale Conosco</p>
                </h4>
                <div style="color: rgb(202, 197, 197)">
                <p>Alisson</p>
                <p>Victor</p>
                <p>Pedro Lima</p>
                <p>Arthur</p>
                <p>Pedro Francis</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p class="footer">&copy; SITE TCC | ETEC</p>
    </footer>
</body>

</html>