body{
    font-family: Montserrat;
}

.navbar{
    background: darkblue;
}

.sobreosite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    padding-bottom: 70px;
}

.title_resumo{
    font-size: 24px;
}

.icones{
    border: 2px solid darkblue;
    border-radius: 25px;
    height: 50%;
    position:static;
    top: 120%;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.icone1 {
    width: 50%;
    position: absolute;
    top: 48rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.icone2 {
    width: 50%;
    position: absolute;
    top: 48rem;
    bottom: 0;
    left: 40rem;
    right: 0;
}

.icone3 {
    width: 50%;
    position: absolute;
    top: 64rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.icone4 {
    width: 50%;
    position: absolute;
    top: 64rem;
    bottom: 0;
    left: 40rem;
    right: 0;
}

.botao_home{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.info_educai{
    background-color: gray;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
    color: white;
  }
  
  .footer{
    font-size: 15px;
    text-align: center;
    background-color: gray;
    line-height: 50px;
    color: darkgrey;
    margin-bottom: auto;
  }